body {
    background-color: #1e1e1e;
    color: white;
    font-family: "Roboto Slab", sans-serif;
}

/*
 * Article text styling
 */

article {
    line-height: 1.6;
    margin-bottom: 6em;
}

article header h1 ~ p.author {
    font-style: italic;
    font-size: large;
}

article header p.note {
    font-style: italic;
    font-size: smaller;
    color: #888;
}

article header p.warning {
    font-style: italic;
    font-size: smaller;
    color: #ff8b8b;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    font-family: "Alumni Sans", "Impact", sans-serif;
    padding-top: 1em;
}

article h1 {
    font-size: 500%;
    line-height: 0.8;
}

article h2 {
    font-size: xxx-large;
}

article h3 {
    font-size: xx-large;
}

article h4 {
    font-size: x-large;
}

article h6 {
    font-size: large;
}

article p {
    text-align: justify;
}

main :not(li) > p {
    padding: 1em 0;
}

article header + p::first-letter, article h2 + p::first-letter {
    float: left;
    font-size: 500%;
    font-weight: bold;
    color: red;
    padding-top: 5pt;
    padding-right: 0.2rem;
}

article a, article a:hover, article a:visited, article a:active {
    color: #ff8b8b;
}

article ul {
    list-style-type: disc;
}

article ol {
    list-style-type: decimal;
}

article ol, article ul {
    padding-left: 1em;
    margin-bottom: 1em;
}

article li {
    margin-left: 1.33em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: justify;
}

article table {
    margin: 1em -5em;
    border-width: 1px 0;
    border-color: #666;
    border-style: solid;
}

article thead {
    font-family: "Alumni Sans", sans-serif;
    border-bottom: 1px dotted #666;
}

article th {
    vertical-align: middle;
}

article thead tr:first-child th, article tr:first-child td {
    padding-top: 1em;
}

article thead tr:last-child th, article tr:last-child td {
    padding-bottom: 1em;
}

article td {
    padding: 0.5em;
}

article tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}

article .question {
    position: relative;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #111;
    border: 1px solid #333;
    &::after {
        content: "?";
        line-height: 0.6;
        position: absolute;
        right: -3rem;
        top: 1rem;
        font-weight: 800;
        font-size: 500%;
        color: #FFFFFF40;
    }
}

article .reply {
    position: relative;
    border-radius: 0.5rem 0 0.5rem 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    background-color: #1e1f22;
    border: 1px solid #333;
    *:first-child {
        padding-top: 0;
    }
    *:last-child {
        padding-bottom: 0;
    }
    &::before {
        content: "!";
        line-height: 0.6;
        position: absolute;
        left: -2rem;
        top: 1rem;
        font-weight: 800;
        font-size: 500%;
        color: #FFFFFF40;
    }
}

article {
    .reply + .question, .question + .reply {
        margin-top: 1rem;
    }
}

/*
 * Discussions
 */

#discussion {
    background-color: #1e1e1e;
}

#discussion a, aside a:hover, #discussion a:visited, #discussion a:active {
    color: white;
    text-decoration: none;
}

#discussion ol {
    padding-top: 0.5rem;
    height: 100%;
    box-shadow: inset -1px 0 0 rgba(255, 0, 0, 0.2);
    overflow: hidden;
}

#discussion li {
    margin-left: 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.5rem 0 0 0.5rem;
    overflow: hidden;
}

#discussion li.active {
    background-color: #181818;
    border-color: rgba(255, 0, 0, 0.2);
    border-right-color: #181818;
}

#discussion li > a {
    font-family: "Alumni Sans", sans-serif;
    font-size: larger;
}

#discussion li > a {
    padding: 1rem 1rem 1rem 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#discussion li > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

#discussion li > a:active {
    background-color: rgba(255, 0, 0, 0.2);
}

#discussion li > a span.count {
    text-align: center;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: bold;

    display: inline-block;
    width: 13pt;
    height: 13pt;
    line-height: 13pt;
    border-radius: 50%;
    overflow: hidden;
    background-color: #222;
    color: #888;
}
