body {
    background-color: #1e1e1e;
    color: white;
}

article {
    font-family: "Trillium Web", sans-serif;
    line-height: 1.34;
    margin-bottom: 6em;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    font-family: "Anton", "Impact", sans-serif;
    padding-top: 1em;
}

article h1 {
    font-size: xxx-large;
}

article h2 {
    font-size: xx-large;
}

article h3 {
    font-size: x-large;
}

article h4 {
    font-size: large;
}

article h6 {
    font-size: small;
}

article p {
    padding: 1em 0;
    text-align: justify;
}

article section h2 + p::first-letter {
    float: left;
    font-size: 400%;
    font-weight: bold;
    color: red;
    padding-top: 5pt;
    padding-right: 0.2rem;
}

article a, article a:hover, article a:visited, article a:active {
    color: #ff8b8b;
}

article ul {
    list-style-type: disc;
}

article ol {
    list-style-type: decimal;
}

article ol, article ul {
    padding-left: 1em;
    margin-bottom: 1em;
}

article li {
    margin-left: 1.33em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: justify;
}

article table {
    margin: 1em -5em;
    border-width: 1px 0;
    border-color: #666;
    border-style: solid;
}

article thead {
    font-family: "Bebas Neue", sans-serif;
    border-bottom: 1px dotted #666;
}

article th {
    vertical-align: middle;
}

article thead tr:first-child th, article tr:first-child td {
    padding-top: 1em;
}

article thead tr:last-child th, article tr:last-child td {
    padding-bottom: 1em;
}

article td {
    padding: 0.5em;
}

article tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.2);
}
