body {
    background-color: #1e1f22;
    color: white;
}

li {
    padding: 1rem;
}

li > header {
    font-family: "Slabo 27px", sans-serif;
    font-size: larger;
}

li > div {
    font-family: "Titillium Web", sans-serif;
}

li > header + div {
    margin-top: 0.5em;
}
