body {
    background-color: #1e1f22;
    color: white;
}

a, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}

li > a {
    padding: 1rem;
}

li > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

li > a:active, li > a.selected {
    background-color: rgba(255, 0, 0, 0.2);
}

li > a > header {
    font-family: "Alumni Sans", sans-serif;
    font-size: larger;
}

li > a > div {
    font-family: serif;
    font-weight: lighter;
    font-size: small;
    color: #666;
}

li .author {
    font-style: italic;
}

li > a > header + div {
    margin-top: 1em;
}

.empty {
    color: #666;
    font-style: italic;
    text-align: center;
    margin: 2em;
}
