body {
    background-color: #1e1f22;
    color: white;
}

a, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}

li > a {
    padding: 1rem;
}

li > a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

li > a:active {
    background-color: rgba(255, 255, 255, 0.2);
}

li > a.selected {
    background-color: rgba(255, 0, 0, 0.2);
}

li > a > header {
    font-family: "Slabo 27px", sans-serif;
    font-size: larger;
    font-weight: bold;
}

li > a > div {
    font-family: "Titillium Web", sans-serif;
}

li > a > header + div {
    margin-top: 0.5em;
}
