@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Slabo+27px&family=Titillium+Web:wght@200;400;700;900&display=swap');

nav {
    padding: 0 0.5rem;
    background-color: #00000040;
    backdrop-filter: blur(10px);
    box-shadow: 0 1pt 2pt 0 rgba(0,0,0,0.5);
}

nav h1 {
    font-family: "Bebas Neue", "Impact", sans-serif;
    font-size: xx-large;
}
