@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

nav {
    padding: 0 0.5rem;
    background-color: #00000040;
    backdrop-filter: blur(10px);
    box-shadow: 0 1pt 2pt 0 rgba(0,0,0,0.5);
}

nav h1 {
    font-family: "Alumni Sans", "Impact", sans-serif;
    font-size: xxx-large;
    text-transform: uppercase;
}

.empty {
    color: #666;
    font-style: italic;
    text-align: center;
    margin: 2em;
}
