nav {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 32pt;
    max-height: 32pt;
    z-index: 1;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}

main {
    padding-top: 32pt;
    overflow-y: auto;
    height: calc(100vh - 32pt);
    position: relative;
    z-index: 0;
}
