/*
 * General elements
 */

body {
    /* background-color: #19164c; */
    background-color: #2b2d30;
    color: white;
}

a, a:hover, a:visited, a:active {
    color: white;
    text-decoration: none;
}

/*
 * Structural elements
 */

main > header {
    margin-top: 1rem !important;
    width: calc(100% - 0.5rem);
}

main > header, li {
    font-family: "Slabo 27px", sans-serif;
}

section + section > h3 {
    margin-top: 0.5rem;
}

h2, h3, ol header, li {
    padding: 0.4rem 0.5rem;
}

h2, h3, h4 {
    font-family: "Anton", "Impact", sans-serif;
}

h2 {
    color: #375eac;
}

hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #666;
}

h4 + hr {
    margin-left: 0.5em;
}

:not(h4) > hr {
    margin-top: 0;
    margin-bottom: 0;
}

ol {
    margin-left: 1rem;
}
