body {
    background-color: #181818;
    color: white;
}

section {
    font-family: "Roboto Slab", sans-serif;
    font-size: 85%;
    line-height: 1.6;
}

section header {
    font-family: serif;
    font-weight: lighter;
    font-size: small;
    color: #888;
    padding: 0.3rem 0.5rem 0.1rem 0.5rem;

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

ol {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

li {
    margin-bottom: 0.5rem;
}

li + li {
    /* border-top: 1px dotted #333; */
}

.author {
    font-style: italic;
    color: #ff8b8b;
}

.date {
    font-size: smaller;
    vertical-align: baseline;
    text-align: right;
}

.comment {
    margin-left: 0.5rem;
    padding: 1px 0.5rem 1rem 0.5rem;
    vertical-align: baseline;
    background-color: #111;
    border-radius: 0.5rem 0 0 0.5rem;
}

.comment p {
    padding: 0.5em 0;
}

.comment blockquote {
    font-size: smaller;
    border-left: 3pt solid #333;
    padding-left: 0.5em;
    margin: 0.5rem 0;
    color: #888;
    font-style: italic;
}

.comment blockquote > p:first-of-type {
    padding: 0;
}

.comment p + ul, .comment p + ol {
    margin-top: -0.5em;
}

.comment ul {
    list-style-type: disc;
}

.comment ol {
    list-style-type: decimal;
}

.comment ol, .comment ul {
    padding-left: 1em;
    margin-bottom: 1em;
}

.comment li {
    padding-top: 0.25em;
    padding-bottom: 0.2em;
}

/*
 * Commenting
 */

footer {
    margin-top: auto;
    width: 100%;
    border-top: 1pt dotted #888;
}

input[type="submit"] {
    border: none;
    cursor: pointer !important;
    background-color: transparent;
}

input[type="text"], textarea {
    background-color: #181818;
    display: block;
    width: 100%;
    border: none;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

input[type="text"]:focus, textarea:focus {
    outline: none;
}

input#name {
    font-family: "Alumni Sans", "Impact", sans-serif;
    font-size: larger;
}

textarea {
    flex-grow: 1;
    border: none;
    font-family: "Roboto Slab", sans-serif;
    font-size: 85%;
    line-height: 1.6;
    min-height: 20em;
    height: fit-content;
    margin-bottom: 1rem;
}
