body {
    background-color: #181818;
    color: white;
}

section {
    font-family: "Roboto Slab", sans-serif;
    font-size: 85%;
    line-height: 1.6;
}

section header {
    font-family: serif;
    font-weight: lighter;
    font-size: small;
    color: #888;
    padding: 2pt 0.5rem 0 0.5rem;

    opacity: 0.8;
    border-top: 4pt solid #222;
    background-size: 10px 100%;
}

.author {
    font-style: italic;
    color: #ff8b8b;
}

.date {
}

.comment {
    padding: 0 0.5rem 1rem 0.5rem;
}

.comment p {
    padding: 0.5em 0;
}

.comment blockquote {
    border-left: 3pt solid #333;
    padding-left: 0.5em;
    margin: 0.5em 0;
    color: #888;
    font-style: italic;
}

.comment blockquote > p:first-of-type {
    padding: 0;
}

.comment p + ul, .comment p + ol {
    margin-top: -0.5em;
}

.comment ul {
    list-style-type: disc;
}

.comment ol {
    list-style-type: decimal;
}

.comment ol, .comment ul {
    padding-left: 1em;
    margin-bottom: 1em;
}

.comment li {
    padding-top: 0.25em;
    padding-bottom: 0.2em;
}
